{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 10"]
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    "transform-async-to-generator",
    "transform-class-properties",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ],
  "env": {
    "production": { }
  }
}